.pubilc-nv__bar a{
    color: white;
    font-size: 0.28rem;
    padding-left: 0.2rem;
}

.pubilc-nv__bar{
    height:1rem;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}